.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-color: $verde-marca; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 80px; 
    z-index: 10; 

    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
        width: 100%;
        z-index: 5;
    }

    .hero-logo-main {
        width: clamp(280px, 75vw, 1100px);
        height: auto;
        object-fit: contain;
    }

    .shape {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        will-change: transform;

        &.shape-1 { 
            width: clamp(140px, 25vw, 380px);
            top: 80%;
            left: -50px; 
            bottom: auto;
        }
        &.shape-2 { 
            width: clamp(150px, 22vw, 300px);
            bottom: 70%; 
            right: -20px; 
            top: auto;
        }

        // --- RESPONSIVE PARA LAS ILUSTRACIONES ---
        @media (min-width: 1024px) {
            &.shape-1 { 
                left: -30px; 
                top: auto; 
                bottom: -15%;
            }
            &.shape-2 { 
                right: -20px; 
                top: auto;
                bottom: 60%;
            }
        }
    }
}