// --- COLORES ---
$verde-marca: #EEE6D5; 
$blanco: #EEE6D5; 
$negro-texto: #1A1A1A;

// --- TIPOGRAFÍAS ---
$font-principal: 'Yu Gothic', sans-serif;
$font-cuerpo: 'Yu GothiEEE6D5c', sans-serif;

// --- LAYOUT ---
$tablet: 768px;
$margin-desktop: 10%;
$margin-mobile: 5%;